@charset "UTF-8";
     @font-face {
font-family: IRANSansWeb;
src: url("../fonts/IRANSansWeb.ttf") format("opentype");
}
body{
    
  font-family: IRANSansWeb !important;

}

body{font-family:IRANSansWeb !important;font-style:normal;font-weight:400;font-size:14px;color:#71748d;background-color:#efeff6;-webkit-font-smoothing:antialiased}

